.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.email-link:hover,
.email-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.footer-email-link:hover,
.footer-email-link:focus {
  color: var(--accent-color);
}

.footer-tel-link:hover,
.footer-tel-link:focus {
  color: var(--accent-color);
}
